/* ==========================================================================
   Local Font Declarations
   ========================================================================== */

/* --------------------------------------------------------------------------
   Poppins - For titles, headers, footers (Dutch/English)
   -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --------------------------------------------------------------------------
   Lora - For body text (Dutch/English)
   -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Lora';
  src: url('../Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

/* --------------------------------------------------------------------------
   Kufam - For Arabic titles/headings
   -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Kufam';
  src: url('../Kufam/Kufam-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kufam';
  src: url('../Kufam/Kufam-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

/* --------------------------------------------------------------------------
   Mirza - For Arabic body text
   -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Mirza';
  src: url('../Mirza/Mirza-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mirza';
  src: url('../Mirza/Mirza-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mirza';
  src: url('../Mirza/Mirza-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mirza';
  src: url('../Mirza/Mirza-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
